{% load static i18n compress %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="icon" href="{% static 'images/favicons/favlogo.svg' %}" />

    <title>{% block title %}Maestri.group{% endblock %}</title>
    {% block css %}
    <!-- Tailwind CSS -->
    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
    {% compress css %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet" />
    <link href="{% static 'css/output.css' %}" rel="stylesheet" />
    {% endcompress %}
    {% endblock css %}

</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    class="min-h-screen flex flex-col h-screen bg-neutral-950 dark:bg-slate-50">
    <header>

        {% block header %}

        {% endblock header %}

    </header>
    <main>
        {% block main %}

        {% block notification %}
        {% endblock notification %}

        {% block content %}
          <p>Esta é a principal área de conteúdo.</p>
        {% endblock content %}

        {% block modal %}{% endblock modal %}

        {% endblock main %}
    </main>
</body>
{% block footer %}
{% endblock footer %}
{% block javascript %}
<!-- Your stuff: Third-party javascript libraries go here -->
<!-- place project specific Javascript in this file -->
{% compress js %}
<script type="application/javascript" src="{% static 'vendor/flowbite/dist/flowbite.js' %}"></script>
{% comment %} <script type="application/javascript" src="{% static 'vendor/htmx/htmx.js' %}"></script> {% endcomment %}
<script src="https://unpkg.com/htmx.org@1.9.12"></script>
<script defer src="{% static 'js/project.js' %}"></script>
{% endcompress %}
{% endblock javascript %}

</html>