{% load allauth %}

{% comment %} djlint:off {% endcomment %}
<{% if attrs.href %}a href="{{ attrs.href }}"{% else %}button{% endif %}
                      {% if attrs.form %}form="{{ attrs.form }}"{% endif %}
                      {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
                      {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
                      {% if attrs.type %}type="{{ attrs.type }}"{% endif %}
                      class="inline-block px-4 py-2 font-semibold text-center text-white rounded
{% if 'success' in attrs.tags %}bg-green-500 hover:bg-green-700
{% elif 'warning' in attrs.tags %}bg-yellow-500 hover:bg-yellow-700
{% elif 'secondary' in attrs.tags %}bg-gray-500 hover:bg-gray-700
{% elif 'danger' in attrs.tags %}bg-red-500 hover:bg-red-700
{% elif 'primary' in attrs.tags %}bg-blue-500 hover:bg-blue-700
{% else %}bg-blue-500 hover:bg-blue-700
{% endif %}"
>
  {% slot %}
  {% endslot %}
  </{% if attrs.href %}a{% else %}button{% endif %}>
