{% extends "base.html" %}

{% block content %}
<div class="w-full text-black bg-white flex">
    {% block sidebar %}
        {% include "./partials/sidebar1.html" %}
    {% endblock sidebar %}
    <div class="w-full text-black bg-neutral-900 flex-grow p-4">
        <!-- Conteúdo do lado direito aqui -->
        <div class="h-full bg-white p-6">
            <h1 class="text-2xl font-bold text-black">Conteúdo Principal</h1>
            <p class="text-black">Adicione o conteúdo que deseja aqui.</p>
        </div>
    </div>
</div>
{% endblock content%}
