 {% extends "base.html" %}

 {% block header %}
    {% include "./partials/header.html" %}
 {% endblock header %}

    {% block content %}
        {% block top %}
        <section class="bg-neutral-950 dark:bg-yellow-300">
            <div class="gap-14 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
                <div class="font-light text-slate-50 sm:text-lg dark:text-slate-50">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-yellow-300 dark:text-neutral-950">Maestri, Capacitando Promotores para o Sucesso
                    </h2>
                    <p class="mb-4 font-medium">Somos estrategistas, designers e desenvolvedores. Inovadores e solucionadores de problemas. Nossa plataforma foi criada para capacitar promotores a alcançarem o seu melhor. Ganhe comissões que variam de 0% a 50% com base no seu desempenho.
                    </p>
                    <p class="mb-5">Junte-se a nós e transforme a maneira como você trabalha. Faça parte de uma equipe que valoriza inovação, dedicação e crescimento.
                    </p>
                    <div class="mb-5 relative top-5 h-[40px]">
                        <a href="#" class="inline-flex relative top-[20px] items-center text-black bg-yellow-300 hover:bg-yellow-300  font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-yellow-300">
                        Junte-se a nós
                        <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </a>
                    </div> 
                </div>
                <div class="grid grid-cols-2 gap-4 mt-8">
                    <img class="w-full rounded-lg" src="https://images.pexels.com/photos/8276360/pexels-photo-8276360.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="office content 1">
                    <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://images.pexels.com/photos/3186386/pexels-photo-3186386.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="office content 2">
                </div>
            </div>
        </section>
        {% endblock top %}
        {% block mark %}
        <section class="bg-neutral-950 dark:bg-yellow-300">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="max-w-screen-lg text-slate-50 sm:text-lg dark:text-slate-50">
                    <h2 class="mb-4 text-4xl tracking-tight font-bold text-yellow-300 dark:text-neutral-950">Potencializando o sucesso de promotores em todo o país</h2>
                    <p class="mb-4 font-medium">Gerencie suas atividades de promoção de maneira eficiente através de nossa plataforma colaborativa. Cadastre novos alunos na Maestri.edu e acompanhe suas comissões de até <span class="font-bold text-yellow-300">50%</span> com facilidade.
                    </p>
                    <p class="mb-4 font-light">
                        Nossa plataforma oferece uma visão abrangente de todas as suas interações e cadastros, permitindo que você maximize seus ganhos e otimize seu tempo. Com informações detalhadas e ferramentas intuitivas, você pode se concentrar no que realmente importa: promover a educação e crescer junto com a Maestri.</p>
                    <p class="mb-4 font-light">
                        Entregue resultados excepcionais de forma rápida - sem a complexidade de sistemas tradicionais. Acelere seu trabalho, elimine esforços desnecessários e implemente mudanças com facilidade.
                    </p>
                    <a href="#" class="inline-flex items-center font-medium text-yellow-300 hover:text-yellow-300 dark:text-primary-500 dark:hover:text-yellow-300">
                        Saiba mais
                        <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    </a>
                </div>
            </div>
          </section>
        {% endblock mark %}
            {% block mid %}
            <section class="bg-neutrala-950 dark:bg-gray-900">
                <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
                    <div class="mx-auto max-w-screen-sm ">
                        <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-yellow-300 dark:text-white">Conecte-se, Inove e Cresça com a Maestri
                        </h2>
                        <p class="mb-6 font-medium text-slate-200 dark:text-slaye-200 md:text-lg">
                            A plataforma Maestri ajuda você a conectar-se com promotores e comunidades de pessoas que compartilham seus interesses. Facilmente registre novos alunos e gerencie suas comissões, maximizando seu potencial de ganho.
                        </p>
                        <p class="mb-4 font-light text-slate-200 dark:text-slaye-200 md:text-lg">
                            Conectar-se com colegas promotores e descobrir novas oportunidades é fácil com recursos como relatórios detalhados e painéis interativos. Junte-se a nós e transforme sua abordagem na promoção de educação.
                        </p>
                        <a href="#" class="text-black bg-yellow-300 hover:bg-yellow-300 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-yellow-300 dark:hover:bg-yellow-300 focus:outline-none dark:focus:ring-yellow-300">Seja nosso promotor</a>
                    </div>
                </div>
            </section>
            {% endblock mid %}
            {% block spacenull %}
            <div class="max-w-sreen-xl h-[300px]">
                <p>.</p>
            </div>
    {% endblock spacenull %}
    {% endblock content %}
 

    {% block footer %}
    {% include "./partials/footer.html" %}
 {% endblock footer %}